.titleWrapper {
  margin-bottom: 1.25rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: var(--zinc-200);
}

.titleWrapper h1,
.titleWrapper h2,
.titleWrapper h3,
.titleWrapper h4,
.titleWrapper h5 {
  font-size: 1.25rem;
}
